/*
main-color
color: #fff;

sub-color 
color: #f2f2ff;
opacity: .35;

text-color
color: #63636e;
text-sub-tit-color
color: #aaaab3;
*/
html,
body {
  font-family: "Nanum Gothic", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  overflow: hidden;
}

.container::before,
.container::after {
  content: "";
  display: block;
  clear: both;
}

.container.odd {
  background-color: transparent;
}

.container.even {
  background-color: #fafafa;
}

.container.theme-black {
  background-color: #000;
  color: #fff;
}

.container.theme-black.odd {
  background-color: transparent;
}

.container.theme-black.even {
  background-color: #17171d;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.font-light {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.text-xsmall {
  font-size: 21px;
}

.text-small {
  font-size: 28px;
}

.text-big {
  font-size: 48px;
}

.text-main-color {
  color: #fff;
}

.text-sub-color {
  color: #63636e;
}

.text-sub2-color {
  color: #aaaab3;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.line-height-md {
  line-height: 1.3;
}

.nav-wrap {
  position: sticky;
  width: 100%;
  height: 66px;
  line-height: 66px;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
}

.nav-wrap ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.nav-wrap ul::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.24);
}

.nav-wrap ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-wrap button,
.nav-wrap a {
  border: 0;
  background: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.nav-wrap button:hover,
.nav-wrap a:hover {
  color: #6bf;
  cursor: pointer;
}

.typing {
  position: relative;
  /* min-height: 100vh; */
  /* background: url("../../img/bg-main1.jpg") no-repeat; */
  /* background-attachment: fixed; */
  /* background-position-x: center; */
  /* padding: 60px 0; */
}

.typing h1 {
  display: none;
  text-transform: capitalize;
  white-space: nowrap;
  color: #fff;
  margin: 0;
  font-size: 24px;
}

.typing p {
  text-transform: capitalize;
  white-space: nowrap;
  color: #fff;
  margin: 0;
  font-size: 24px;
}

.typing p::after {
  content: "";
  -webkit-animation: cursor 0.3s steps(14) infinite;
  animation: cursor 0.3s steps(14) infinite;
}

@-webkit-keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}

@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}

body {
  background-color: #121217;
}

.container {
  text-align: center;
}

.container .inner {
  max-width: 1024px;
  margin: 0 auto;
}

.container .inner::before,
.container .inner::after {
  content: "";
  display: block;
  clear: both;
}

.container .inner .intro-img {
  margin: 40px 0;
}

.container .inner .intro-img img {
  max-width: 320px;
  border-radius: 20px;
}

.container .inner.result {
  max-width: 100%;
}

.container .inner.result .name-tit {
  max-width: 1024px;
  margin: 0 auto;
}

.container .inner.result .result-wrap {
  max-width: 100%;
}

.container .inner.intro {
  max-width: 100%;
}

.container .inner.intro .inner {
  max-width: 100%;
}

.container .left,
.container .right {
  width: 50%;
}

.container .left {
  text-align: left;
}

.container .right {
  text-align: center;
}

.container .intro-info {
  margin: 0 auto;
  margin-top: 150px;
}

.container .intro-info .row {
  margin: 50px 0;
}

.container .intro-info .row .col {
  display: inline-block;
  width: 30%;
  border-top: 2px solid #63636e;
  margin: 0 50px;
  padding-top: 20px;
  padding-bottom: 80px;
  vertical-align: top;
  line-height: 1.3;
  word-break: keep-all;
}

.container .intro-info .row .col .text-small {
  font-size: 24px;
  font-weight: 700;
}

.container .result-wrap {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 150px;
}

.container .result-wrap .row {
  margin: 150px 0 0;
}

.container .result-wrap .row .col {
  display: inline-block;
  width: 35%;
  margin: 0 50px;
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: left;
  vertical-align: middle;
}

.container .result-wrap .row .col .btn-more {
  display: block;
  margin-top: 15px;
}

.container .result-wrap .row .col .text-xsmall {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.4;
}

.container .result-wrap img {
  max-width: 100%;
}

.container .result-wrap.more {
  max-width: 100%;
}

.container .result-wrap.more .row {
  font-size: 0;
}

.container .result-wrap.more .row .col {
  width: 25%;
  margin: 0;
  font-size: 14px;
  vertical-align: top;
  padding: 0 20px;
}

.container .result-wrap.more .row .col p {
  font-size: 14px;
  color: #aaaab3;
  text-align: center;
}

.container .result-wrap.more .row .col p.tit {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.container .result-wrap.more .row .col p.tit-sub {
  margin-top: 20px;
}

.container .result-wrap.more .row .col .con {
  margin-top: 20px;
  line-height: 1.3;
}

.container .result-wrap.more .row .col .btn-more {
  text-align: center;
}

.left {
  text-align: center;
}

.right .info-tit {
  font-size: 48px;
  font-weight: 700;
}

.name-tit .text-big {
  margin-top: 15px;
  word-break: keep-all;
}

.name-tit .tit-bottom {
  margin-top: 30px;
}

.name-tit .text-xsmall {
  margin-top: 20px;
}

.name-tit-sub {
  margin-top: 10px;
  line-height: 24px;
}

.btn-more {
  color: #6bf;
  text-decoration: none;
}

.graph-bar {
  background-color: #121217;
  padding: 20px 0 60px 0;
  margin-top: 40px;
}

.graph-bar ul {
  padding: 40px 0;
}

.graph-bar ul li {
  display: inline-block;
  position: relative;
}

.graph-bar ul li button {
  vertical-align: middle;
}

.graph-bar ul li button:focus {
  outline: none;
}

.graph-bar ul li:last-child::after {
  display: none;
}

.graph-bar ul li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: #aaaab3;
  vertical-align: middle;
  margin: 0 10px;
}

.graph-bar ul li.on button {
  color: #fff;
  font-weight: 700;
}

.graph-bar button {
  border: 0;
  background-color: transparent;
  color: #aaaab3;
  cursor: pointer;
  font-size: 24px;
}

.graph-bar .graph-wrap {
  margin-top: 0;
  padding: 0 20px;
  overflow: hidden;
}

.graph-bar .graph-wrap .left {
  width: 75%;
  display: inline-block;
  vertical-align: middle;
}

.graph-bar .graph-wrap .right {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.graph-bar .graph-wrap .bar {
  width: 70%;
  height: 8px;
  background-color: #fff;
  margin: 30px 0 10px 0;
  color: #63636e;
  width: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.graph-bar .graph-wrap .bar.change {
  background: #4f3ec8;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4f3ec8),
    to(#9a74ed)
  );
  background: linear-gradient(90deg, #4f3ec8 0%, #9a74ed 100%);
  width: 0;
}

.graph-bar .graph-wrap .bar.before {
  background: #605e69;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#605e69),
    to(#b6b5bd)
  );
  background: linear-gradient(90deg, #605e69 0%, #b6b5bd 100%);
}

.graph-bar .graph-wrap .tit {
  color: #63636e;
  font-size: 14px;
}

.graph-bar .graph-wrap .graph-result .big {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.graph-bar .graph-wrap .graph-result .small {
  margin-top: 10px;
}

.contact {
  line-height: 2;
}

.contact a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 757px) {
  .text-small {
    font-size: 18px;
  }
  .text-xsmall {
    font-size: 22px;
  }
  .text-big {
    font-size: 30px;
  }
  .container {
    padding: 80px 20px;
  }
  .container .inner {
    max-width: 100%;
  }
  .container .inner .intro-img img {
    max-width: 100%;
  }
  .nav-wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .container .intro-info .row {
    padding: 0 20px;
    margin: 0;
  }
  .container .intro-info .row .col {
    width: 100%;
    margin: 0;
  }
  .graph-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .graph-bar .graph-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .graph-bar .graph-wrap .tit {
    font-size: 14px;
    word-break: keep-all;
  }
  .graph-bar .graph-wrap .left {
    width: 60%;
  }
  .graph-bar .graph-wrap .right {
    width: 40%;
  }
  .graph-bar .graph-wrap .graph-result .big {
    font-size: 34px;
  }
  .graph-bar button {
    font-size: 16px;
  }
  .result .result-wrap {
    margin-top: 50px;
  }
  .result .result-wrap .row {
    margin: 50px 0;
  }
  .result .result-wrap .row .col {
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
  }
  .container .result-wrap {
    margin-top: 50px;
  }
  .container .result-wrap.more .row {
    margin-top: 50px;
  }
  .container .result-wrap.more .row .col {
    width: 50%;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
  }
}

@media (min-width: 758px) and (max-width: 1023px) {
  .container {
    padding: 120px 0;
  }
  .container .inner {
    max-width: 100%;
    padding: 0 40px;
  }
  .container .inner .intro-info .row .col .text-small {
    font-size: 20px;
  }
  .container .inner .intro-img img {
    max-width: 320px;
  }
  .container .inner .graph-bar button {
    font-size: 22px;
  }
  .typing {
    height: 650px;
  }
  footer {
    padding: 100px 0;
  }
}
